@using MyEvernote.Entities
@model  List<Note>
@*home index*@
<!-- bütün sayfanın container ı -->
<div class="container">
    
    <div class="row">
        @*Kategoriler Sekmesi*@
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        @* <p class="lead">Kategori</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Tümü</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>*@


        <div class="col-md-9">
            @* Carousel => tepede dönen zımbırtı*@
            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        @*carousel göstergeler ??alttaki yuvarlakçıklar ??*@
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        @*carousel resimleri*@
                        <div class="carousel-inner">
                            <div class="item active">

                                <img class="slide-image" src="~/Images/Carousel/c1.jpg " alt="">                            </div>
                            <div class="item">                                    
                                <img class="slide-image" src="~/Images/Carousel/c2.jpg " alt="">                            </div>
                            <div class="item">                                   
                                <img class="slide-image" src="~/Images/Carousel/c3.jpg" alt="">
                            </div>
                        </div>
                        @*carousel sol sağ tuşları*@
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>
            @*Ekrandki Kutular*@
            <div class="row">

                @*kutu0*@
                @foreach (Note note in Model)
                {

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/images/Notes/@note.ImagePath" alt="@note.Title">
                            <div class="caption">
                                <h4>
                                    <a href="#">@note.Title</a>
                                </h4>
                                <h6>
                                    @(note.Owner.Name + " " + note.Owner.Surname)<br />@*patates*@
                                    @note.ModifiedOn.ToString("dd.MM.yyyy")
                                </h6>
                                @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 60)
                                {
                                    <p>@(note.Text.Substring(0, 56) + " ..." )</p>
                                    @*<p><a href="#" class="btn btn-sm btn-default bottom-left pull-left">Tamamını Oku<span class="glyphicon glyphicon-chevron-right"></span></a></p>*@
                                    //buton
                                    <button type="button" class="btn btn-sm btn-default " data-toggle="modal" data-target="@( string.Format("#myModel_{0}", note.Id))">
                                        Devamını oku
                                    </button>
                                    //model
                                    <div class="modal fade" id="@( string.Format("myModel_{0}", note.Id))" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h2 class="modal-title" id="myModalLabel">@note.Title</h2> 
                                                </div>
                                                <div class="modal-body">
                                                    <p>@note.Text</p>
                                                    <hr />
                                                    <div class="panel-body">
                                                        @foreach (Comment com in note.Comments)
                                                        {
                                                            <p>@(com.Text)</p>
                                                            <hr />
                                                        }
                                                        <div class="row">                                                            
                                                            <div class="col-lg-12">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" placeholder="Yorum...">
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-default" type="button">Yorum Yap</button>
                                                                    </span>
                                                                </div><!-- /input-group -->
                                                            </div><!-- /.col-lg-6 -->
                                                        </div><!-- /.row -->


                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @note.Text
                                }

                            </div>
                            <div class="ratings">
                                <button class="btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-comment">Yorumlar</span></button>
                                <p>
                                    <button class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-star">@note.LikeCount</span></button>
                                </p>
                            </div>
                        </div>
                    </div>

                }



            </div>

        </div>

    </div>

</div>